{% extends 'base.html' %} {% load static %} {% block header %}
<!-- Chart JS -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"
  integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- EO Chart JS -->
<!-- <link rel="stylesheet" href="dashboard.css" /> -->
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
{% endblock header %} {% block body %}
<!-- Content Starts -->
<div class="content">
  <div class="content__header">
    <div class="header__title">
      <h2>Society Name</h2>
    </div>
  </div>
  <section class="dashboard__grid">
    <div class="total_vechicles">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Cars Detected</h4>
        </div>
        <div class="section__info">34545</div>
      </div>
    </div>
    <div class="total_legal">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Legal Cars</h4>
        </div>
        <div class="section__info">34545</div>
      </div>
    </div>
    <div class="total_illegal">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Illegal Cars</h4>
        </div>
        <div class="section__info">34545</div>
      </div>
    </div>
    <div class="recent_logs">
      <div class="logs__header">
        <h3>Recent Logs</h3>
      </div>
      <hr />
      <div class="log__table">
        <!-- Individual Log -->
        <div class="log">
          <div class="log__number">MH 03 DE 9757</div>
          <div class="log__check">
            <span><i class="fa fa-check"></i></span>
          </div>
          <div class="log__time">16:04:58</div>
        </div>
        <hr />
        <!-- EO Individual Log -->
        <!-- Individual Log -->
        <div class="log">
          <div class="log__number">MH 03 DE 9757</div>
          <div class="log__check">
            <span><i class="fa fa-times"></i></span>
          </div>
          <div class="log__time">16:04:58</div>
        </div>
        <hr />
        <!-- EO Individual Log -->
      </div>
    </div>
    <div class="week_graph">
      <h2>Weekly Chart</h2>
      <canvas id="myChart"></canvas>
    </div>
  </section>
</div>
<script>
  console.log("Hemlo");
  let myChart = document.getElementById("myChart").getContext("2d");

  let lineChart = new Chart(myChart, {
    type: "line",
    data: {
      labels: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
      ],
      datasets: [
        {
          label: "Number of Legal",
          data: [26, 4, 45, 3, 87, 12, 9],
          backgroundColor: "green",
          borderColor: "green",
        },
        {
          label: "Number of Illegal",
          data: [43, 65, 2, 5, 3, 65, 4],
          backgroundColor: "red",
          borderColor: "red",
        },
      ],
    },
    options: {},
  });
</script>

<!-- Content Ends -->

{% endblock body %}
