{% extends 'base.html' %} {% load static %} {% block header %}
<!-- Chart JS -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"
  integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- EO Chart JS -->
<!-- <link rel="stylesheet" href="dashboard.css" /> -->
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />

{% endblock header %} {% block body %}
<!-- Content Starts -->
<div class="content">
  <div class="content__header">
    <div class="header__title">
      <h2>{{sn}}</h2>
    </div>
  </div>
  <section class="dashboard__grid">
    <div class="total_vechicles">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Cars Detected</h4>
        </div>
        <div class="section__info">{{ t }}</div>
      </div>
    </div>
    <div class="total_legal">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Legal Cars</h4>
        </div>
        <div class="section__info">{{ tlegal }}</div>
      </div>
    </div>
    <div class="total_illegal">
      <div class="section__content">
        <div class="section__header">
          <h4>Total Illegal Cars</h4>
        </div>
        <div class="section__info">{{ tillegal }}</div>
      </div>
    </div>
    <div class="recent_logs">
      <div class="logs__header">
        <h3>Recent Logs</h3>
      </div>
      <hr />
      <div class="log__table">
        {% for log in logs %}
        <!-- Individual Log -->
        <a href="{% url 'video_detection' log.video.title %}">
          <div class="log">
            <div class="log__number">{{log.carno}}</div>
            <div class="log__check">
              {% if log.legal %}
              <span><i class="fa fa-check"></i></span>
              {% else %}
              <span><i class="fa fa-times"></i></span>
              {% endif %}
            </div>
            <div class="log__time">{{log.created}}</div>
          </div>
        </a>
        <hr />
        <!-- EO Individual Log -->
        {% endfor %}
      </div>
      <a class="tag" href="{% url 'logs' %}">See All</a>
    </div>
    <div class="week_graph">
      <h2>Weekly Chart</h2>
      <canvas id="myChart"></canvas>
    </div>
  </section>
</div>
<script>
  console.log("Hemlo");
  let myChart = document.getElementById("myChart").getContext("2d");
  // let legalCount = "{{ lcount|safe }}";
  // let illegalCount = "{{ icount|safe }}";
  let lineChart = new Chart(myChart, {
    type: "line",
    data: {
      labels: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
      ],
      datasets: [
        {
          label: "Number of Legal",
          data: {{ lcount|safe }},
          backgroundColor: "green",
          borderColor: "green",
        },
        {
          label: "Number of Illegal",
          data: {{ icount|safe }},
          backgroundColor: "red",
          borderColor: "red",
        },
      ],
    },
    options: {},
  });
</script>

<!-- Content Ends -->

{% endblock body %}
