{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'logs.css' %}" />
{% endblock header %} {% block body %}
<!-- Content -->

<div class="content">
  <div class="logs__table">
    <div class="logs__header">
      <h1 style="padding-top: 1rem">Search Logs</h1>
    </div>
    <section class="logs">
      <div class="log__search">
        <input type="text" class="search__box" placeholder="   shrek" />
        <input type="date" class="calendar" />
        <select name="status" id="status" class="status">
          <option value="" disabled selected hidden>Status</option>
          <option value="Illegal">Illegal</option>
          <option value="Legal">Legal</option>
        </select>
        <button class="search__btn">Search</button>
      </div>
    </section>
    <div class="recent_logs">
      <hr />
      <div class="log__table" id="log__table">
        <!-- {% for log in logs %}
        Individual Log 
        <a href="{% url 'video_detection' log.video.title %}">
          <div class="log">
            <div class="log__owner">Mr. {{log.name}}</div>
            <div class="log__number">{{log.carno}}</div>
            <div class="log__check">
              {% if log.legal %}
              <span><i class="fa fa-check"></i></span>
              {% else %}
              <span><i class="fa fa-times"></i></span>
              {% endif %}
            </div>
            <div class="log__time">{{log.created}}</div>
          </div>
        </a>
        <hr />
        EO Individual Log 
        {% endfor %} -->
      </div>
    </div>
  </div>
</div>
<!-- EO Content -->
<script>
  let logs = {{logsJS|safe}};
  console.log(logs)
  console.log(logs[0].fields);
  let logsList = document.getElementById("log__table");
  logs.forEach((log) => {
    let newLog = `
    <div class="log">
            <div class="log__owner">${log.fields.legal ? `Owner` : `Unknown`} </div>
            <div class="log__number">${log.fields.carno}</div>
            <div class="log__check">
              {% if log.legal %}
              <span><i class="fa fa-check"></i></span>
              {% else %}
              <span><i class="fa fa-times"></i></span>
              {% endif %}
            </div>
            <div class="log__time">${log.fields.created}</div>
          </div>
    `
    logsList.innerHTML += newLog;
  })
</script>

{% endblock body %}
