{% extends 'base.html' %} {% load static %}
<!-- Header -->
{% block header %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />
{% endblock header %}
<!-- Header -->
{% block body %}
<div class="content">
  <div class="changes_bar">
    <h2>Profile Page</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <button href="">Save Changes</button>
    </form>
  </div>
  <div class="profile__grid">
    <div class="profile_box">
      <div class="inner_profile">
        <!-- {{form.as_p}} -->
        <h1 style="letter-spacing: 0.1px">Profile</h1>
        <div class="form__label">
          <label for="">Name: </label>
          <div class="profile__header">{{form.name}}</div>
        </div>
        <div class="form__label">
          <label for="">Contact: </label>
          <div class="profile__input">{{form.contact}}</div>
        </div>
      </div>
    </div>
    <div class="user_box">
      <div class="user_container">
        <h2>Recently Added Users</h2>
        <div class="log">
          {% for user in users %}
          <div class="indiviual_log">
            <div class="log__owner">{{user}}</div>
            <div class="log__number">{{user.carno}}</div>
          </div>

          {% endfor %}
        </div>

        <a href="{% url 'addusers' %}">See All</a>
      </div>
    </div>
    <div class="map">
      <div class="map_container">
        <h2>Location</h2>
        <div class="form_control">
          {% if profile.city %}
          <label for="">Ward: </label>

          {{profile.town}}
          <br />
          <label for="">City: </label>
          {{profile.city}}
          <br />
          <label for="">State: </label>
          {{profile.state}}
          <br />
          <label for="">Country: </label>
          {{profile.country}}
          <br />
          <label for="">Latitude: </label>
          {{profile.lat}}
          <br />
          <label for="">Longitude: </label>
          {{profile.long}} {% endif %}
        </div>

        <a href="{% url 'get_location' %}">Update Location</a>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
