{% extends 'base.html' %} {% load static %}
<!-- Header -->
{% block header %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />
{% endblock header %}
<!-- Header -->
{% block body %}
<div class="content">
  <div class="changes_bar">
    <h2>Profile Page</h2>
    <form action="" method="POST">
      <!-- <h1 style="padding-bottom: 2rem"><span style="border-bottom: 2px goldenrod solid;">Update Profile</span></h1> -->
      {% csrf_token %}
      <button href="">Save Changes</button>
    </form>
  </div>
  <div class="profile__grid">
    <div class="profile_box">
      {{form.as_p}}

      <div class="profile__header"></div>
      <div class="profile__input"></div>
      <a class="profile__btn"></a>
    </div>
    <div class="user_box"></div>
    <div class="map">
      <div class="map_container">
        <h2>Location</h2>
        <div class="form_control">
          {% if profile.city %}
          <label for="">Ward: </label>

          {{profile.town}}
          <br />
          <label for="">City: </label>
          {{profile.city}}
          <br />
          <label for="">State: </label>
          {{profile.state}}
          <br />
          <label for="">Country: </label>
          {{profile.country}}
          <br />
          <label for="">Latitude: </label>
          {{profile.lat}}
          <br />
          <label for="">Longitude: </label>
          {{profile.long}} {% endif %}
        </div>

        <a href="{% url 'get_location' %}">Update Location</a>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
