<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "Lexend", sans-serif;
    }
  </style>
  <body>
    <h1>In video detect {{videos}}</h1>

    <br />
    <video width="320" height="240" controls>
      <source src="{{videos.video.url}}" type="video/m" />
      <!-- <source src="movie.ogg" type="video/ogg" /> -->
      Your browser does not support the video tag.
    </video>
  </body>
</html>
