<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Upload Video</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "Lexend", sans-serif;
    }
  </style>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: inherit;
          max-width: 400px;
          border: 1px solid black;
          padding: 4rem;
          border-radius: 12px;
          text-align: center;
        "
      >
        <form action="" method="POST">
          {% csrf_token %}
          <h1 style="padding-bottom: 2rem">
            <span style="border-bottom: 2px goldenrod solid">Upload Video</span>
          </h1>
          <label for="">Title: </label>
          <input
            type="text"
            name="title"
            placeholder="Enter Video Title here"
            style="margin-bottom: 2rem"
          />
          <input
            type="file"
            name="video"
            accept="video/*"
            style="margin-bottom: 2rem; width: 20rem; margin-left: 9rem"
          />
          <button type="submit" style="padding: 0.3rem; margin-right: 1rem">
            Upload New Video
          </button>
          <button type="submit" style="padding: 0.3rem">
            <a href="{% url 'dashboard' %}" style="text-decoration: none"
              >Cancel</a
            >
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
